<div class="col-md-4">
	<!-- Modal -->
	<div class="modal fade" id="exampleModalSignUp" tabindex="-1" role="dialog" aria-labelledby="exampleModalSignTitle"
		aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-body p-0">
					<div class="card card-plain">
						<div class="card-header pb-0 text-left">
							<h3 class="font-weight-bolder text-primary text-gradient">Create a plan</h3>
							<p class="mb-0">Ente the plan details below</p>
						</div>
						<div class="card-body pb-3">
							<form data-create-plan="true" role="form text-left">
								<div class="row">
									<div class="col-md-6">
										<label class="">Name</label>
										<div class="form-group">
											<input type="text" name="name" placeholder="New Plan"
												class="form-control" />
										</div>
									</div>
									<div class="col-md-6">
										<label class="">Plan key</label>
										<div class="form-group">
											<input type="text" name="key" placeholder="*" value="*" title="The plan key is what gives access to your users to access this plan"
												class="form-control" readonly/>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<label class="">Min Budget</label>
										<div class="form-group">
											<input type="number" name="min" placeholder="5.00"
												class="form-control" />
										</div>
									</div>
									<div class="col-md-6">
										<label class="">Max Budget</label>
										<div class="form-group">
											<input type="number" name="max" placeholder="10.00"
												class="form-control" />
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<label for="exampleFormControlTextarea1">Description</label>
										<textarea class="form-control" name="description" id="exampleFormControlTextarea1" placeholder="A little description"
											rows="3"></textarea>

									</div>
								</div>
								<div class="text-center">
									<button class="btn bg-gradient-primary btn-lg btn-rounded w-100 mt-4 mb-0">Create</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>