<div class="row">
	<div class="col-md-4">
		<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-body p-0">
						<div class="card card-plain">
							<div class="card-header pb-0 text-left">
								<h3 class="font-weight-bolder text-info text-gradient">Transfer With Crypto</h3>
								<p class="mb-0">Select a crypto and send to the address</p>
							</div>
							<div class="card-body">
								<form role="form text-left">
									<div class="form-group">
										<label for="exampleFormControlSelect1">Select Crypto</label>
										<select name="currency" class="form-control" id="exampleFormControlSelect1">
										  <option value="BTC">BTC</option>
										  <option value="ETH">ETH</option>
										  <option value="LIT">LIT</option>
										  <option value="DODGE">DODGE</option>
										  <option value="WDGLD">WDGLD</option>
										</select>
									  </div>
									<label>Amount</label>
									<div class="input-group mb-3">
										<!-- TODO: Make a way so the value of this input will change base on the crypto value -->
										<input type="text" class="form-control" value="1878a871b1878e7871f1887g1a"
											aria-label="number" aria-describedby="number-addon" readonly>
									</div>
									
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>