<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Transaction details</h5>
				<button type="button" class="btn-close text-dark" data-bs-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p class="text-sm" data-transaction-description="true">
				</p>
				<hr class="horizontal gray-light my-4">
				<ul class="list-group">
					<li class="list-group-item border-0 ps-0 pb-0" data-transaction-status="true">
						<!-- status -->
					</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Alert:</strong>
						&nbsp; <span class="" data-transaction-alert="true"></span>
					</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Amount:</strong>
						&nbsp; <span class="" data-transaction-amountInAppWallet="true"></span>
					</li>
					<li class="list-group-item border-0 ps-0 text-sm">
						<strong class="text-dark">Method of transfer:</strong>
						&nbsp; <span class="" data-transaction-methodOfPayment="true"></span>
					</li>
					<li class="list-group-item border-0 ps-0 pb-0">
						<strong class="text-dark text-sm">From:</strong>
						&nbsp; <span class="" data-transaction-fromWho="true"></span>
					</li>
					<li class="list-group-item border-0 ps-0 pb-0">
						<strong class="text-dark text-sm">To:</strong>
						&nbsp; <span class="" data-transaction-toWho="true"></span>
					</li>
					<li class="list-group-item border-0 ps-0 pb-0">
						<strong class="text-dark text-sm">Date:</strong>
						<!-- time -->
						&nbsp; <span class="" data-transaction-time="true"></span>
					</li>
				</ul>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn bg-gradient-secondary" data-bs-dismiss="modal">Close</button>

			</div>
		</div>
	</div>
</div>